body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
nav{
    transition: 1s;
    width: 30%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.694);
    display: flex;
    align-items: center;
    justify-content: center;
}
nav menu{
    width: 50%;
    height: 70vh;
    background-color: grey;
    border-radius: 20px;
    
}
nav menu ul{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    gap: 50px;
}
nav menu ul li{
        list-style: none;
        height: auto;

}
nav menu ul li a{
    display: block;
    width: 50%;
    text-decoration: none;
    color: aqua;
    font-size: 20px;
    background-color:#000 ;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
#nav-btn{
    width: 100px;
    height: 70px;
    background-color: black;
    color: aqua;
    font-size: 30px;
}

.show{
    transform: translate(0px);
    transition: 1s;
}

.hide{
    transform: translateX(-1000px);
    transition: 1s;
}
 */






/* .red{
    background-color: red;
    color: #fff;
    font-size: 50px;
    border: 20px solid #000;
    border-radius: 20px;
}

.green{
    background-color: green;
    color: #fff;
    font-size: 30px;
    border: 10px solid #000;
    border-radius: 100px;
} */